{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Don{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="page-title"><i class="fas fa-hand-holding-heart"></i> Nous soutenir :</h1>
    </div>
{% endblock %}
