{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Créer une nouvelle sous-catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title text-center">Créer une nouvelle sous-catégorie</h1>

        {{ include('admin/link/subcategory/_form.html.twig') }}

        <a href="{{ path('subcategory_index') }}" class="btn btn-outline-primary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
