{% extends 'base.html.twig' %}

{% block title %}New Value{% endblock %}

{% block body %}
    <h1>Create new Value</h1>

    {{ include('value/_form.html.twig') }}

    <a href="{{ path('value_index') }}">back to list</a>
{% endblock %}
