{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Créer une nouvelle valeur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title text-center">Créer une nouvelle valeur</h1>

        {{ include('admin/link/value/_form.html.twig') }}

        <a href="{{ path('value_index') }}" class="btn btn-outline-primary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
