{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Créer un nouveau lien{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title text-center">Créer un nouveau lien</h1>

        {{ include('admin/link/link/_form.html.twig') }}

        <a href="{{ path('link_index') }}" class="btn btn-outline-primary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
