{% extends 'bundles/base_error.html.twig' %}

{% block title %}{{ parent() }} Erreur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row content">
            <div class="col-lg-12"></div>
            <div class="col-lg-12">
                <h1>Erreur</h1>
                <h2>Nous sommes désolé mais il semblerait qu'il y est une erreur.
                </h2>
                <p>
                    Vous voudrez peut-être retourner à la page d'accueil.
                </p>
                <a href="{{ path('index') }}" class="btn">RENTRER À LA MAISON</a>
            </div>
        </div>
    </div>
    <div class="bg-img"></div>
{% endblock %}
