<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">© <a href="http://lefebvredavid.fr" target="_blank" class="text-muted text-decoration-none">Odin59 ᛟ</a> | 2020 - {{ "now"|date("Y") }}</span>
    </div>
</footer>